<table class="table table-striped drinks" ng-controller="Drinks">
  <thead>
    <tr>
      <th ng-click="reverse =! reverse; sort('title', reverse)">Title</th>
      <th>Ingredients</th>
      <th ng-click="reverse =! reverse; sort('strength', reverse)">Strength</th>
      <th ng-click="reverse =! reverse; sort('glass', reverse)">Glass</th>
      <!-- <th>Created At</th> -->
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="drink in drinks" ng-click="showDetails()">
      <td><button type="button" class="btn btn-default">{{drink.title}}</button></td>
      <td>
        <button type="button" class="btn btn-default btn-sm" ng-repeat="ingredient in drink.ingredients">{{ingredient.name}}</button>
      </td>
      <td>{{drink.strength}}</td>
      <td>{{drink.glass}}</td>
      <!-- <td>{{drink.createdAt}}</td> -->
      <td><button type="button" class="close" aria-label="Close" ng-click="remove(drink._id)"><span aria-hidden="true">&times;</span></button></td>
    </tr>
    <tr>
      <form>
        <td><input class="form-control" placeholder="title" ng-model="drink.title" required /></td>
        <td><input class="form-control" placeholder="ingredients" ng-required="true" /></td>
        <td>
          <select class="form-control" ng-model="drink.strength" required>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </td>
        <td>
          <select class="form-control" ng-model="drink.glass" required>
            <option>Highball</option>
            <option>Lowball</option>
            <option>Old Fashioned</option>
          </select>
        </td>
        <!-- <td><button class="btn btn-default" ng-click="add(drink)" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td> -->

        <td><input type="submit" class="btn btn-default" ng-submit="add(drink)" /></td>
      </form>
    </tr>
  </tbody>
</table>