<h3>All Drinks:</h3>
<table class="table table-striped drinks" ng-controller="Drinks">
  <thead>
    <tr>
      <th ng-click="reverse =! reverse; sort('title', reverse)">Title</th>
      <th>Ingredients</th>
      <th ng-click="reverse =! reverse; sort('strength', reverse)">Strength</th>
      <th ng-click="reverse =! reverse; sort('glass', reverse)">Glass</th>
      <!-- <th>Created At</th> -->
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="drink in drinks" ng-click="showDetails()">
      <td><button type="button" class="btn btn-default">{{drink.title}}</button></td>
      <td>
        <button type="button" class="btn btn-default btn-sm" ng-repeat="ingredient in drink.ingredients">{{ingredient.name}}</button>
      </td>
      <td>{{drink.strength}}</td>
      <td>{{drink.glass}}</td>
      <!-- <td>{{drink.createdAt}}</td> -->
      <td><button type="button" class="close" aria-label="Close" ng-click="remove(drink._id)"><span aria-hidden="true">&times;</span></button></td>
    </tr>
    <tr>
      <form>
        <td><input class="form-control" placeholder="title" ng-model="drink.title" /></td>
        <td><input class="form-control" placeholder="ingredients" /></td>
        <td><input class="form-control" placeholder="strength" ng-model="drink.strength" /></td>
        <td><input class="form-control" placeholder="type of glass" ng-model="drink.glass" /></td>
        <td><button class="btn btn-default" ng-click="add()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
      </form>
    </tr>
  </tbody>
</table>