body {
  font-size: 20px;
  background: #09CAD9;
  color: #fff;
}

a {
  color: #fff;
}

nav {
  margin: 0 !important;
  padding: 2vh 1vh;
}

nav span {
  text-align: right;
  font-size: 5vh;
}

header {
  text-transform: uppercase;
  text-align: center;
  padding: 5vh 0;
  font-size: 7vh;
  border-top: 1px solid #fff;
}

section {
  text-transform: uppercase;
  text-align: center;
  /*height: 300px;*/
  padding: 15vh 0;
  font-size: 7vh;
  border-top: 1px solid #fff;
}

section.classic {
  padding: 3vh 0;
  font-size: 5vh;
}
section.ingredients {
  padding: 3vh 0;
}
section.alcohol {
  padding: 3vh 0;
  font-size: 3vh;
}
section.alcohol:nth-child(even) {
  border-right: 1px solid #fff;
}

section.alcohol:nth-child(n+5) {
  border-bottom: 1px solid #fff;
}

section a {
  position: relative;
  top: 25%;
}

section a:hover {
  color: #fff;
}

.ingredients span {
  margin: 2rem 0;
  font-size: 5vh;
}

.drinks button,
.ingredients button {
  margin-right: 5px;
}

.btn:focus {
  outline: none !important;
}

.highball {
  height: 300px;
  width: 200px;
  border: 1px solid;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* basic typeahead styles */
.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  padding: 8px 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 4px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}